<h1 md-dialog-title>New Widget</h1>
<div md-dialog-content>Select the widget that you would like to add to the grid.</div>
<div md-dialog-actions>
    <button md-raised-button (click)="dialogRef.close('Donut')"><md-icon class="donut-icon">donut_large</md-icon>Donut</button>
    <button md-raised-button (click)="dialogRef.close('Bar')"><md-icon class="bar-icon">insert_chart</md-icon>Bar</button>
    <button md-raised-button (click)="dialogRef.close('Polar')"><md-icon class="polar-icon">multiline_chart</md-icon>Polar</button>
</div>
